body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f8333c;
  padding: 40px;
  gap: 40px;
}
body,
body > * {
  border-radius: 40px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.prompt-card {
  flex: 3;
  background-color: #fff;
  border: 3px solid #fcab10;
  padding: 40px;
  margin: 0;
}
.prompt-card.cta {
  background-color: #fcab10;
}
.prompt-trigger {
  flex: 1;
  background-color: #44af69;
  padding: 25px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  color: black;
  -webkit-tap-highlight-color: transparent;
}
.prompt-trigger:hover {
  opacity: 0.9;
}
.prompt-trigger:disabled {
  cursor: not-allowed;
}

@media (max-width: 500px) {
  body {
    flex-direction: column;
  }
}
